<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body bgcolor="#00bfff">
<div align="center">
    <h2>EDIT USERS</h2>
    <br>
    <br>
    <form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
        <table border="1" style="background-color: gold;" cellspacing="7">
            <tr>
                <th th:width="200"><label for="name">Enter name: </label></th>
                <th th:width="200"><label for="surname">Enter surname: </label></th>
                <th th:width="200"><label for="email">Enter email: </label></th>
                <th th:width="70"><label for="age">Enter age: </label></th>
                <th th:width="200"><label for="username">Enter username</label></th>
                <th th:widnth="300"><label for="password">Enter password</label></th>
                <th th:width="150">Select Role:</th>
            </tr>
            <input type="hidden" th:field="*{userId}" th:value="user.userId">
            <tr>
                <td><input type="text" th:field="*{name}" id="name"/>
                </td>
                <td><input type="text" th:field="*{surname}" id="surname"/></td>

                <td><input type="text" th:field="*{email}" id="email"/></td>

                <td><input type="text" th:field="*{age}" id="age"/></td>

                <td><input type="text" th:field="*{username}" id="username"></td>

                <td><input type="text" th:field="*{password}" id="password"></td>
                <td><label>
                    <select size="2" multiple name="role" required="required">
                        <option selected="selected" value="1">User</option>
                        <option value="2">Admin</option>
                    </select>
                </label></td>
            </tr>
        </table>
        <br>
        <br>
        <input type="submit" value="edit User"/>
        <br>
        <br>
        <a href="/login"><font size="+2" color="#006400">Выйти</font></a>
    </form>
</div>
</body>

<body>
<nav class="navbar navbar-dark bg-dark" align="left">
    <font color="white">
        <b th:text="${user.getUsername()}"></b>
        <span> with Role: </span>
        <span th:text="${user.getRoles()}"></span>
    </font>
    <font color="silver" align="right">
        <a href="/login"><font color="silver">logout</font></a>
    </font>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-white">
            <div class="col-md-2 bg-white">
                <div class="d-grid gap-2">
                    <a class="btn btn-primary btn-block" role="button" href="/admin">Admin</a>
                    <a class="btn btn-link btn-block" role="button" href="/admin/user">User</a>
                </div>
        </div>
        <div class="col-md-10 bg-light">

            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/add">New User</a>
                </li>
            </ul>

            <h4>All Users</h4>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${users}">
                    <td align="center" size="+2" th:utext="${user.userId}">Id</td>
                    <td align="center" size="+2" th:utext="${user.name}">Name</td>
                    <td align="center" size="+2" th:utext="${user.surname}">Surname</td>
                    <td align="center" size="+2" th:utext="${user.email}">Email</td>
                    <td align="center" size="+2" th:utext="${user.age}">Age</td>
                    <td align="center" size="+2" th:utext="${user.username}">Username</td>
                    <td align="center" size="+2" th:utext="${user.roles}">Role</td>
                    <td>
                        <form align="center" size="+1" th:action="@{'/admin/edit/' + ${user.userId}}">
                            <input type="submit" class="btn btn-primary btn-sm" value="edit"/>
                        </form>
                    </td>
                    <td>
                        <form align="center" size="+1" th:method="DELETE"
                              th:action="@{'/admin/delete/' + ${user.userId}}">
                            <input type="submit" class="btn btn-danger btn-sm" value="delete">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>
