<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="css/style.css">


</head>

<body bgcolor="#00bfff">
<div align="center">
    <form class='login-form' th:action="@{/login}" method="POST">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="flex-row logo">
            <h1>LOGO</h1>
        </div>
        <div class="flex-row">
            <input id="username" class='lf--input' placeholder='Your username' type='text'>
        </div>
        <div class="flex-row">
            <input id="password" class='lf--input' placeholder='Your password' type='password'>
        </div>
        <br>
        <input class='lf--submit' type='submit' value='Sign Up'>
        <br>
        <br>
        <br>
        <a class='lf--forgot' href='#'>Already throwing balls? Log In</a>
    </form>

</div>
</body>
</html>


