<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-dark bg-dark" align="left">
    <font color="white">
        <b th:text="${user.getUsername()}"></b>
        <span> with Role: </span>
        <span th:text="${user.getRoles()}"></span>
    </font>
    <font color="silver" align="right">
        <a href="/login"><font color="silver">logout</font></a>
    </font>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-white">
            <div class="d-grid gap-2">
                <a class="btn btn-primary btn-block" role="button" href="/admin">Admin</a>
                <a class="btn btn-link btn-block" role="button" href="/admin/user">User</a>
            </div>
        </div>
        <div class="col-md-10 bg-light">

            <h2>User-information page</h2>

            <h4>About User</h4>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td align="center" size="+2" th:utext="${user.userId}">Id</td>
                    <td align="center" size="+2" th:utext="${user.name}">Name</td>
                    <td align="center" size="+2" th:utext="${user.surname}">Surname</td>
                    <td align="center" size="+2" th:utext="${user.email}">Email</td>
                    <td align="center" size="+2" th:utext="${user.age}">Age</td>
                    <td align="center" size="+2" th:utext="${user.username}">Username</td>
                    <td align="center" size="+2" th:utext="${user.roles}">Role</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>