<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-dark bg-dark" align="left">
    <font color="white">
        <b th:text="${user.getUsername()}"></b>
        <span> with Role: </span>
        <span th:text="${user.getRoles()}"></span>
    </font>
    <font color="silver" align="right">
        <a href="/login"><font color="silver">logout</font></a>
    </font>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-white">
            <div class="d-grid gap-2">
                <a class="btn btn-primary btn-block" role="button" href="/admin">Admin</a>
                <a class="btn btn-link btn-block" role="button" href="/admin/user">User</a>
            </div>
        </div>
        <div class="col-md-10 bg-light">

            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/add">New User</a>
                </li>
            </ul>

            <h4>All Users</h4>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${users}">
                    <td align="center" size="+2" th:utext="${user.userId}">Id</td>
                    <td align="center" size="+2" th:utext="${user.name}">Name</td>
                    <td align="center" size="+2" th:utext="${user.surname}">Surname</td>
                    <td align="center" size="+2" th:utext="${user.email}">Email</td>
                    <td align="center" size="+2" th:utext="${user.age}">Age</td>
                    <td align="center" size="+2" th:utext="${user.username}">Username</td>
                    <td align="center" size="+2" th:utext="${user.roles}">Role</td>
                    <td>
                        <button type="button" class="btn btn-info text-white" data-toggle="modal"
                                th:data-target="${'#editModal'+user.userId}">Edit
                        </button>

                    </td>
                    <form th:method="PATCH"
                          th:align="center"
                          th:action="@{/admin/edit/}">
                        <div class="modal fade" th:id="${'editModal'+user.userId}" tabindex="-1" role="dialog"
                             aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" modal-dialog-centered role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mx-auto mt-5" style="width: 200px;">
                                            <div>
                                                <label th:for="${'userId' + user.userId}"
                                                       align="center"><b>UserId</b></label>
                                                <input name="userId" th:type="text"
                                                       class="form-control"
                                                       th:id="${'userId' + user.userId}"
                                                       th:value="${user.userId}" readonly/>
                                            </div>
                                            <div>
                                                <label th:for="${'name' + user.name}"><b>FirstName</b></label>
                                                <input th:type="text" class="form-control"
                                                       th:id="${'name' + user.userId}"
                                                       th:value="${user.name}" name="name"/>
                                            </div>
                                            <div>
                                                <label th:for="${'surname' + user.surname}"><b>LastName</b></label>
                                                <input th:type="text" class="form-control" name="surname"
                                                       th:value="${user.surname}" th:id="${'surname' + user.userId}"/>
                                            </div>
                                            <div>
                                                <label th:for="${'email' + user.email}"><b>Email</b></label>
                                                <input th:type="text" class="form-control" name="email"
                                                       th:value="${user.email}"
                                                       th:id="${'email' + user.userId}"/>
                                            </div>
                                            <div>
                                                <label th:for="${'age' + user.age}"><b>Age</b></label>
                                                <input th:type="number" class="form-control" name="age"
                                                       th:value="${user.age}"
                                                       th:id="${'age' + user.userId}"/>
                                            </div>
                                            <div>
                                                <label th:for="${'username' + user.username}"><b>Username</b></label>
                                                <input type="text" class="form-control" name="username"
                                                       th:value="${user.username}" th:id="${'username' + user.userId}">
                                            </div>
                                            <div>
                                                <label th:for="${'password' + user.password}"><b>Password</b></label>
                                                <input th:type="text" class="form-control" name="password"
                                                       th:value="${user.password}" th:id="${'password' +user.userId}">
                                            </div>
                                            <div>
                                                <label th:for="${'role' + user.roles}"><b>Role</b></label>
                                                <select style="width: 200px;" size="2" multiple name="role"
                                                        required="required" id="role">
                                                    <option selected="selected" value="1">User</option>
                                                    <option value="2">Admin</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                th:data-target="${'#editDelete'+ user.userId}">
                            Delete
                        </button>
                    </td>
                    <form th:method="DELETE"
                          th:align="center"
                          th:action="@{/admin/delete/{id}(id=${user.userId})}">
                        <div class="modal fade" th:id="${'editDelete'+ user.userId}" tabindex="-1" role="dialog"
                             aria-labelledby="editDelete" aria-hidden="true">
                            <div class="modal-dialog" modal-dialog-centered role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editDeleteLabel">Delete user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mx-auto mt-5" style="width: 200px;">
                                            <div>
                                                <label th:for="${'userId' + user.userId}"
                                                       align="center"><b>UserId</b></label>
                                                <input name="userId" th:type="text"
                                                       class="form-control"
                                                       th:id="${'userId' + user.userId}"
                                                       th:value="${user.userId}" readonly/>
                                            </div>
                                            <div>
                                                <label th:for="${'name' + user.name}"><b>FirstName</b></label>
                                                <input th:type="text" class="form-control"
                                                       th:id="${'name' + user.userId}"
                                                       th:value="${user.name}" readonly/>
                                            </div>
                                            <div>
                                                <label th:for="${'surname' + user.surname}"><b>LastName</b></label>
                                                <input th:type="text" class="form-control" th:value="${user.surname}"
                                                       th:id="${'surname' + user.userId}" readonly/>
                                            </div>
                                            <div>
                                                <label th:for="${'email' + user.email}"><b>Email</b></label>
                                                <input th:type="text" class="form-control"
                                                       th:value="${user.email}"
                                                       th:id="${'email' + user.userId}" readonly/>
                                            </div>
                                            <div>
                                                <label th:for="${'age' + user.age}"><b>Age</b></label>
                                                <input th:type="number" class="form-control"
                                                       th:value="${user.age}"
                                                       th:id="${'age' + user.userId}" readonly/>
                                            </div>
                                            <div>
                                                <label th:for="${'username' + user.username}"><b>Username</b></label>
                                                <input type="text" class="form-control" th:value="${user.username}"
                                                       th:id="${'username' + user.userId}" readonly>
                                            </div>
                                            <div>
                                                <label th:for="${'password' + user.password}"><b>Password</b></label>
                                                <input th:type="text" class="form-control" th:value="${user.password}"
                                                       th:id="${'password' +user.userId}" readonly/>
                                            </div>
                                            <div>
                                                <label th:for="${'role' + user.roles}"><b>Role</b></label>
                                                <select style="width: 200px;" size="2" multiple required="required"
                                                        id="roles" disabled="true">
                                                    <option selected="selected" value="1">User</option>
                                                    <option value="2">Admin</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn"
                                                    data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger btn">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>