<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome!</h1>
<br>
<br>
<table border="1" style="background-color: gold;" cellspacing="7">
    <tr>
        <th th:width="200">Name</th>
        <th th:width="200">Surname</th>
        <th th:width="200">Email</th>
        <th th:width="70">Age</th>
        <th th:width="200">Username</th>
    </tr>


    <td align="center" size="+2" th:utext="${user.name}">Name</td>
    <td align="center" size="+2" th:utext="${user.surname}">Surname</td>
    <td align="center" size="+2" th:utext="${user.email}">Email</td>
    <td align="center" size="+2" th:utext="${user.age}">Age</td>
    <td align="center" size="+2" th:utext="${user.username}">Username</td>

</table>
<br>
<br>
<a href="/index"><font size="+2" color="#006400">Выйти</font></a>

</body>
</html>